// Dashboard design system
$menuText: #cbd5e1;
$menuActiveText: #ffffff;
$subMenuActiveText: #ffffff; // https://github.com/ElemeFE/element/issues/12951

$menuBg: #111827;
$menuHover: #1f2937;

$subMenuBg: #0f172a;
$subMenuHover: #1e293b;

$sideBarWidth: 240px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
